<h3>{{  message }}</h3>
<h4>{{  decimal  }}</h4>
<h5>{{  list  }}</h5>
<h5>{{  reminders  }}</h5>
<h5>{{  data  }}</h5>

<ul>
  <li *ngFor="let reminder of reminders">
    {{reminder}}
  </li>
</ul>


<ul>
  <h4 *ngFor="let item of info">
    {{  item.name   }}, {{  item.surname   }}, {{  item.age   }}
  </h4>
</ul>

<router-outlet></router-outlet>